.title {
    font-weight: 700;
    font-size: 36px;
    line-height: 60px;
    color: #000000;
    &_14px {
        font-size: 14px;
        line-height: 21px;
    }
    &_16px {
        font-size: 16px;
        line-height: 24px;
    }
    &_48px {
        font-size: 48px;
        line-height: 60px;
    }
    &_circle {
        position: relative;
        padding-left: 10px;
        z-index: 0;
        @include circle;
    }
}